version: '3.9'

services:
  backend:
    build:
      context: ./pluto-app-backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=mongodb://mongo:27017/pluto-db
      - SPRING_DATA_MONGODB_DATABASE=pluto-db
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build:
      context: ./pluto-front-end
      dockerfile: Dockerfile
    ports:
      - "5173:80"  # Vite default dev port mapped to Nginx 80
    depends_on:
      - backend
    networks:
      - app-network

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: pluto-db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data: